@yellow: #f28c48;
@bg: #f8fafc;
@blue: #2e97ff;
@l-blue: lighten(@blue, 20%);
@red: #ff2e5f;
@green: #55c97b;
@black: #4c5161;
@grey: #dcdee2;
@disable: #ccc;
@white: #f7f9fa;
.com-block() {
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 15px 18px;
    box-shadow: 0px 0px 8px #dfe3f2;
}