<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>web前端工程师个人博客</title>
    <link href="//s3.pstatp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <script src="//s1.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js" type="application/javascript"></script>
    <script src="https://cdn.bootcss.com/dot/1.1.2/doT.min.js"></script>
</head>
<body>
    <!-- 侧边栏 -->
    <aside id="intrude-box" class="mask">
        <!-- 侧边栏图片 -->
        <div id="intrude-bg"></div>
        <!-- 侧边栏内容 -->
        <div id="intrude-cnt">
            <!-- 头像 -->
            <div id="head-portrait" class="mask">
                <img src="../assets/img/portrait.png" alt="chandler">
            </div>
            <!-- 昵称 -->
            <h1 id="author" title="web前端工程师博客">chandler</h1>
            <!-- 介绍 -->
            <h2 id="intrude-text" title="web前端工程师博客">welcome to my blog~</h2>
            <!-- 导航 -->
            <nav id="nav-menu">
                <ul id="nav-list"></ul>
            </nav>
            <!-- 联系方式 -->
            <div id="contact-box">
                <i class="fa fa-wechat"></i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-phone"></i>
            </div>
        </div>
    </aside>
    <!-- 文章主页 -->
    <main id="blog-main">
        <section id="blog-box"></section>
    </main>
    <!-- 雪花 -->
    <div id="canvas-box">
        <canvas id="canvasBg"></canvas>
    </div>
</body>
</html>