@import './config.less';
@import '../com/less/com.config.less';
// 侧边栏
@import './left-bar.less';
// 文章内容
@import './md.less';
// 右边栏
@import './right-bar.less';
body {
    background-color: @bg;
}

.enter {
    animation-duration: .3s;
    animation-name: enter;
}

.leave {
    animation-duration: .3s;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    animation-name: leave;
}

// 遮罩
.mask:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .4;
    z-index: 2;
    pointer-events: none;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes leave {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(-30px);
    }
}

// 雪花
#canvas-box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 500;
}

#app {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.com-icon {
    @size: 16px;
    height: @size;
    line-height: @size;
    .com-icon__pic {
        display: inline-block;
        vertical-align: middle;
        width: @size;
        height: @size;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .com-icon__text {
        display: inline-block;
        height: @size;
        vertical-align: middle;
    }
    .eye-icon {
        background-image: url(../img/eye.png);
    }
    .calendar-icon {
        background-image: url(../img/calendar.png);
    }
    .reply-icon {
        background-image: url(../img/reply.png);
        position: relative;
        top: 2px;
    }
}

/* 主板块 */

#main-wrap {
    margin-left: @intrudeW;
    margin-right: @sideW;
    #main-box {
        position: relative;
        .blog-element {
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
        }
    }
    .article-item {
        position: relative;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 50px;
        border-left: .1rem solid @blue;
        &:nth-of-type(1) {
            padding-top: 0;
        }
        .art-pretty {
            position: relative;
            left: -7px;
            top: -8px;
        }
        .art-time {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            line-height: 20px;
            padding-left: 10px;
            padding-right: 12px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            background-color: @blue;
            color: #fff;
            font-size: 13px;
            left: 15px;
        }
        .art-time:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent;
            border-right-color: @blue;
            left: -20px;
            top: 0;
        }
        .art-dotts {
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: @blue;
            border: 1px solid @blue;
        }
        .art-main {
            margin-top: 5px;
        }
        .art-wrap {
            display: block;
            text-align: right;
            position: relative;
            cursor: pointer;
        }
        .art-info {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            align-content: space-around;
            width: 80%;
            height: 100%;
            text-align: left;
        }
        /* 标题 */
        .art-title {
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        /* 前言 */
        .art-note {
            position: relative;
            font-size: 13px;
            height: 40px;
            line-height: 1.65;
            box-sizing: border-box;
            color: @black;
            overflow: hidden;
            text-align: justify;
        }
        /* 附图 */
        .art-img {
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 4px;
            overflow: hidden;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        @keyframes heartBlast {
            0% {
                background-position-x: -6px;
            }
            100% {
                background-position-x: -1136px;
            }
        }
        @media screen and (max-width: 650px) {
            .art-info {
                width: 75%;
            }
        }
        @media screen and (max-width: 550px) {
            .art-info {
                width: 70%;
            }
        }
        @media screen and (max-width: 470px) {
            .art-img {
                width: 80px;
                height: 80px;
            }
            .art-meta {
                font-size: 10px;
            }
        }
        @media screen and (max-width: 400px) {
            .art-title {
                font-size: 14px;
            }
            .art-note {
                height: 24px;
                font-size: 12px;
                line-height: 24px;
            }
            .art-img {
                width: 60px;
                height: 60px;
            }
        }
    }
}

/* 附属信息 */

.art-meta {
    display: flex;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
    color: @black;
    margin-top: 14px;
}

/* 点赞 */

.heart-box {
    position: relative;
    .art-icon__text {
        padding-left: 15px;
    }
}

.heart-icon__pic {
    position: absolute;
    width: 30px !important;
    height: 35px !important;
    left: -8px;
    top: -11px;
    background-image: url(../img/zan.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 3900% !important;
    background-position-x: -6px !important;
    background-position-y: -1px !important;
}

.heart-icon__text {
    padding-left: 15px !important;
}

.heart-box.act .heart-icon__pic {
    display: inline-block;
    animation-name: heartBlast;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    background-position-x: -1136px !important;
}

// 右边栏消失，mr变为0
@media all and (max-width: 1300px) {
    #main-wrap {
        margin-right: 0;
    }
}

// 垂直模式
@media all and (max-width: 800px) {
    #main-wrap {
        margin-left: 0;
    }
}