@intrudeW: 250px; // 侧边栏宽度
@sideW: 270px; // 侧边栏宽度
@bg: #f2f8ff; // 背景色
@blue: #3b8cff; // 蓝色
@red: #f8645c; // 红色
@green: #76c94c; // 绿色
@color: #424e67; // 文字颜色

.box-shadow() {
    box-shadow: 2px 2px 0 #d3e6fc;
}