@intrudeW: 258px; // 左边栏宽度
@sideW: 240px; // 侧边栏宽度
@bg: #f9fafe; // 右边栏宽度
@blue: #7297ff; // 蓝色
@red: #ff5986; // 红色
@green: #55c97b; // 绿色
@color: #424e67; // 文字颜色

.box-shadow() {
    box-shadow: 2px 2px 0 #dfe3f2;
}