#markdown-box {
    height: 100vh;
    padding: 20px;
    padding-right: 30px;
    overflow: hidden;
}

#markdown-main {
    height: 100%;
    border-radius: 4px;
}

@catalogW: 200px;
// 文章主要内容
.markdown-cnt {
    float: left;
    width: calc(100% - @catalogW);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    .box-shadow();
    padding: 15px 20px;
    background-color: #fff;
    text-align: justify;
    /* 标题*/
    .markdown-title {
        margin-bottom: 16px;
        h1 {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
    }
    /* 附属信息*/
    .markdown-meta {
        display: block;
        font-size: 12px;
        text-align: center;
        margin: 16px 0;
    }
    .meta-like,
    .meta-comment {
        margin-left: 10px;
    }
    /* 前言*/
    .markdown-preface {
        font-size: 14px;
        line-height: 1.8;
        text-indent: 2em;
        background-color: #f8f8f8;
        color: #666;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
    }
    /* 封面*/
    .markdown-cover {
        position: relative;
        background-size: 100%;
        border-radius: 4px;
        overflow: hidden;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    /* 封面填充*/
    .markdown-cover:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .markdown-cover:after {
        content: '';
        display: block;
        padding-top: 50%;
        width: 100%;
    }
    /* 覆盖markdown*/
    .markdown-body {
        font-size: 14px;
        ul {
            list-style: disc;
            margin: 16px;
        }
        ol {
            margin: 16px;
        }
        p {
            margin: 16px 0;
            line-height: 1.7;
        }
        li {
            margin-top: 5px;
        }
        /* 引用*/
        blockquote {
            padding: 1px 23px;
            margin: 22px 0;
            border-left: 4px solid #cbcbcb;
            background-color: #f8f8f8;
            color: #666;
            p {
                margin: 8px 0;
            }
        }
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
    }
    /* 修改代码块背景*/
    .markdown-body .highlight pre,
    .markdown-body pre {
        padding: 0;
        background-color: #fff;
    }
}

// 目录
.markdown-catalog {
    float: right;
    width: @catalogW - 10;
    height: 100%;
    background-color: #fff;
    .box-shadow();
    .markdown-catalog-title {
        font-size: 16px;
        color: @color;
        margin: 10px 30px 5px;
        letter-spacing: 2px;
    }
    .catalog-item {
        color: @color;
        margin-bottom: 5px;
    }
    .catalog-item.act {
        background-color: @bg;
        color: @blue;
    }
    .catalog-link:before {
        content: '';
        position: relative;
        display: inline-block;
        background-color: currentColor;
        border-radius: 50%;
    }
    .catalog-h1 {
        font-size: 17px;
        padding-left: 30px;
        font-weight: bold;
        .catalog-link:before {
            width: 7px;
            height: 7px;
            margin-right: 5px;
            top: 0;
        }
    }
    .catalog-h2 {
        font-size: 15px;
        padding-left: 40px;
        .catalog-link:before {
            width: 5px;
            height: 5px;
            margin-right: 5px;
            top: -1px;
        }
    }
}

@media screen and (max-width: 1000px) {
    #markdown-box {
        height: auto;
        padding: 0;
    }
    .markdown-cnt {
        width: 100%;
    }
    .markdown-catalog {
        display: none;
    }
}